In [4]:
import pandas as pd

In [5]:
file_one = '03-Python_Homework_PyBank_Resources_budget_data.csv'

In [6]:
file_one_df = pd.read_csv(file_one)

In [7]:
file_one_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [8]:
file_one_df.count()

Date             86
Profit/Losses    86
dtype: int64

In [9]:
total_revenue = file_one_df["Profit/Losses"].sum()
print(f"Total Revenue: ${total_revenue}")

Total Revenue: $38382578

In [31]:
month_count = file_one_df["Date"].count()
print(f"Months: {month_count}")

Months: 86

In [32]:
revenue_change = file_one_df["Profit/Losses"].diff().mean()
round(revenue_change,2)

-2315.12

In [33]:
profit_increase_max = file_one_df["Profit/Losses"].diff().max()
profit_increase_max

1926159.0

In [34]:
profit_loss_most = file_one_df["Profit/Losses"].diff().min()
profit_loss_most

-2196167.0

In [35]:
file_one_df["Difference"] = file_one_df["Profit/Losses"].diff()

In [36]:
greatest_row = file_one_df.loc[file_one_df["Difference"] == profit_increase_max, "Date"]
greatest_increase_date=greatest_row.iloc[0]
greatest_increase_date

'Feb-2012'

In [37]:
smallest_row = file_one_df.loc[file_one_df["Difference"] == profit_loss_most, "Date"]
smallest_min_date = smallest_row.iloc[0]
smallest_min_date

'Sep-2013'

In [48]:
# L = [print("ANALYSIS:"), print(f"Months: {month_count}"), print(f"Total Revenue:${total_revenue}"),print("--------------"), 
#     print(f"Average Change:${round(profit_loss,2)}"), print(f"Greatest Increase In Profit: {greatest_increase_date} ${profit_increase_max}"),
#     print(f"Greatest Decrease In Profit: {smallest_min_date} ${profit_loss_most}")]
# print("ANALYSIS:")
# print(f"Months: {month_count}")
# print(f"Total Revenue:${total_revenue}")
# print("--------------")
# print(f"Average Change:${round(profit_loss,2)}")
# print(f"Greatest Increase In Profit: {greatest_increase_date} ${profit_increase_max}")
# print(f"Greatest Decrease In Profit: {smallest_min_date} ${profit_loss_most}")

In [68]:
finalAnswers = open("FinalAnswers.txt", "w+")
finalAnswers.write("ANALYSIS: \n")
finalAnswers.write((f"Months: {month_count}\n"))
finalAnswers.write((f"Total Revenue:${total_revenue}\n"))
finalAnswers.write(("--------------\n"))
finalAnswers.write((f"Average Change:${round(profit_loss,2)}\n"))
finalAnswers.write((f"Greatest Increase In Profit: {greatest_increase_date} ${profit_increase_max}\n"))
finalAnswers.write((f"Greatest Decrease In Profit: {smallest_min_date} ${profit_loss_most}\n"))
finalAnswers.close()